# macOS
.DS_Store
._*

# Editors
.vscode/
.idea/

# Logs
*.log

# Node (only relevant on the react-fullstack branch)
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
